version: '3'

services:
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_BASE_URL=http://backend:3000
      - NEXT_PUBLIC_SOCKET_URL=ws://backend:3000
    networks:
      - webnet

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3001:3000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/realtimeorders
      - JWT_SECRET=supersecretkey
      - PORT=3000
    networks:
      - webnet
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - webnet

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
    networks:
      - webnet

volumes:
  mongo-data:

networks:
  webnet:
    driver: bridge